@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300,400italic,500,500italic,700,700italic,900,900italic|Droid+Sans:400,700|Cutive+Mono|Abril+Fatface);
html {
    margin: 0px;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
body {
    margin: 0px;
    background-color: #FFF;
    font-family: 'Roboto', Droid Sans, sans-serif;
}

li {
    list-style: none;
    line-height: 25px;
}
.page-size {
    width: 100%;
    height: 100%;
}
.bolder{
    font-weight: 900;
}
#content {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    z-index: 0;
}
#navigation{
    margin-left: 20px;
    margin-top: 20px;
    text-align: left;
    position: fixed;
    z-index: 100;
    display: none;
    color: #000;
    font-size: 15px;
    text-transform: uppercase;
    cursor: pointer;
}
.active{
    font-weight: bold;
}
.inactive{
    font-weight: normal;
}
#start-link{
    height: 80px;
}
.logo-color{
    background: url('../images/suse-logo-color.png');
    background-repeat: no-repeat;
    background-position: left top;
}
.logo-black{
    background: url('../images/suse-logo-black.png');
    background-repeat: no-repeat;
    background-position: left top;
}
.logo-white{
    background: url('../images/suse-logo-white.png');
    background-repeat: no-repeat;
    background-position: left top;
}
#arrow-start {
     background: url('../images/arrow-start.png');
     width: 51px;
     height: 47px;
     background-repeat: no-repeat;
     position: absolute;
     bottom: 0;
     left: 49%;
     cursor: pointer;
     z-index: 2;
 }

#start{
    background: url('../images/start-background.jpg');
    background-size: 100% auto;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
}
#pay-off{
    position: relative;
    margin: 0 auto;
    max-width: 960px;
    padding-top: 15%;
    z-index: 3;
}
.claim{
    font-family: 'Abril Fatface', cursive;
    margin: 5px;
    font-size: 50px;
/*    text-transform: uppercase;
    font-weight: bold;
    background: rgba(0, 0 ,0 ,0.5);*/
    display: inline-block;
    color: #FFF;
    top: 50%;
    position: relative;
    padding: 4px 12px 4px 15px;
    z-index: 3;
}

#what-is{
    background-color: #ff0000;
    z-index: 10;
    position: relative;
}
#projects{
    background-color: #000;
    background: url('../images/projects-thumbs.jpg');
    background-size: 100% auto;
    background-repeat: no-repeat;
    z-index: 20;
    position: relative;
}
#projects #terminal-btn {
    color: #FFF;
}
#projects .terminal-dot {
    background-color: #FFF;
}
.project-instructions{
    background-color: #000000;
    position: absolute;
    width: 320px;
    height: 160px;
    left: 50%;
    margin-left: -160px;
    top: 50%;
    margin-top: -80px;
    text-align: center;
}
.text-project-box {
   color: #d4df4c;
   font-size: 30px;
   padding-top: 10px;
}
.cut-text {
    color: #373731;
    font-style: italic;
}
#project-info{
    color: #FFF;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 7px;
    font-size: 13px;
    padding-top: 10px;
}
#agenda{
    background-color: #0122ff;
    z-index: 30;
    position: relative;
}
#join{
    background-color: #d8ff33;
    z-index: 40;
    position: relative;
}
#where{
    background-color: #FFF;
    background: url('../images/world-map.png');
    background-size: 90% auto;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 50;
    position: relative;
}
#where-title{
    position: absolute;
    margin-top: 47px;
    max-width: 960px;
    right: -40px;
    text-align: right;
}
.claim-where{
    margin: 5px;
    font-size: 35px;
    text-transform: uppercase;
    font-weight: bold;
    background: #00a54f;
    display: inline-block;
    color: #FFF;
    padding: 4px 40px 4px 15px;
    transform:rotate(-10deg);
    -ms-transform:rotate(-10deg); /* IE 9 */
    -moz-transform:rotate(-10deg); /* Firefox */
    -webkit-transform:rotate(-10deg); /* Safari and Chrome */
    -o-transform:rotate(-10deg); /* Opera */

}
#map-info{
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 7px;
    font-size: 13px;
}

#terminal{
    background-color: #454545;
    display: none;
}
#terminal-btn{
    font-family: 'Cutive Mono', sans-serif;
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 13px;
    font-weight: 100;
    text-transform: uppercase;
}
.terminal-dot{
    float: right;
    height: 10px;
    margin-left: 3px;
    margin-top: 2px;
    width: 4px;
    background-color: #000;
}