@import url(http://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,700italic,900,900italic|Droid+Sans:400,700);
html {
    margin: 0px;
    width: 100%;
    height: 100%;
}
body {
    margin: 0px;
    background-color: #FFF;
    font-family: 'Roboto', Droid Sans, sans-serif;
}

li {
    list-style: none;
    line-height: 25px;
}
.page-size {
    width: 100%;
    height: 100%;
}
#content {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    z-index: 0;
}
#navigation{
    margin-left: 20px;
    margin-top: 20px;
    text-align: left;
    position: fixed;
    z-index: 100;
    display: none;
    color: #000;
    font-size: 15px;
    text-transform: uppercase;
}
#start-link{
    height: 80px;
}
.logo-color{
    background: url('../images/suse-logo-color.png');
    background-repeat: no-repeat;
    background-position: left top;
}
.logo-black{
    background: url('../images/suse-logo-black.png');
    background-repeat: no-repeat;
    background-position: left top;
}
.logo-white{
    background: url('../images/suse-logo-white.png');
    background-repeat: no-repeat;
    background-position: left top;
}
#arrow-start {
    background: url('../images/arrow-start.png');
    width: 51px;
    height: 47px;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0;
    left: 49%;
    z-index: 2;
}
#start{
    background: url('../images/start-background.jpg');
    background-size: 100% auto;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
}
#pay-off{
    position: relative;
    margin: 0 auto;
    max-width: 960px;
    padding-top: 15%;
    z-index: 3;
}
.claim{
    margin: 5px;
    font-size: 50px;
    text-transform: uppercase;
    font-weight: bold;
    background: rgba(0, 0 ,0 ,0.5);
    display: inline-block;
    color: #FFF;
    top: 50%;
    position: relative;
    padding: 4px 12px 4px 15px;
    z-index: 3;
}

#what-is{
    background-color: #ff0000;
    z-index: 10;
    position: relative;
}
#projects{
    background-color: #ff0000;
    z-index: 20;
    position: relative;
}
#agenda{
    background-color: #0122ff;
    z-index: 30;
    position: relative;
}
#join{
    background-color: #d8ff33;
    z-index: 40;
    position: relative;
}
#where{
    background-color: #FFF;
    background: url('../images/world-map.png');
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 50;
    position: relative;
}
#terminal{
    background-color: #454545;
    display: none;
}