@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300,400italic,500,500italic,700,700italic,900,900italic|Droid+Sans:400,700|Cutive+Mono|Abril+Fatface);
html {
    margin: 0px;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
body {
    margin: 0px;
    background-color: #FFF;
    font-family: 'Roboto', Droid Sans, sans-serif;
}

li {
    list-style: none;
    line-height: 25px;
}
.page-size {
    width: 100%;
    height: 100%;
}
.bolder{
    font-weight: 900;
}
#content {
    margin: 0 auto;
    width: 100%;
    height: 100%;
}
#navigation {
    margin-left: 20px;
    margin-top: 20px;
    text-align: left;
    position: fixed;
    z-index: 100;
    display: none;
    color: #000;
    font-size: 15px;
    text-transform: uppercase;
    cursor: pointer;
}
#navigation .active{
    font-weight: bold;
}

#navigation .invert{
    color: #fff;
}

#start-link{
    height: 80px;
}
.logo{
    background: url('../images/suse-logo-color.png');
    background-repeat: no-repeat;
    background-position: left top;
}
.logo-black{
    background: url('../images/suse-logo-black.png');
    background-repeat: no-repeat;
    background-position: left top;
}
.logo.invert{
    background: url('../images/suse-logo-white.png');
    background-repeat: no-repeat;
    background-position: left top;
}
#arrow-start {
     background: url('../images/arrow-start.png');
     width: 51px;
     height: 47px;
     background-repeat: no-repeat;
     position: absolute;
     bottom: 0;
     left: 49%;
     cursor: pointer;
     z-index: 2;
 }

#start{
    background: url('../images/start-background.jpg');
    background-color: #000;
    background-size: 100% auto;
    background-repeat: repeat;
    position: relative;
    z-index: 1;
}
#pay-off{
    position: absolute;
    margin: 0 auto;
    width: 90%;
    padding-top: 4%;
    z-index: 3;
    left:50%;
    margin-left: -25%;
}
.claim{
    font-family: 'Abril Fatface', cursive;
    margin: 5px;
    font-size: 50px;
    color: rgba(255, 255, 255, 1);
    top: 50%;
    position: relative;
    padding: 4px 12px 4px 15px;
    z-index: 3;
    clear: left;
    text-shadow: 1px -1px 2px black;
}

.word-1{
    font-size: 116px;
}
.word-2{
    font-size: 163px;
    margin-top: -80px;
    padding-left: 205px;
}
.word-3{
    font-size: 163px;
    margin-top: -105px;
    margin-left: -90px;
}
.word-half-size{
    font-size: 78px;
}
.word-4{
    font-size: 222px;
    margin-top: -90px;
    padding-left: 117px;
    z-index: 3;
    position: relative;
}
#what-is{
    background-color: #222222;
    /*background: url('../images/cloud-pattern.png');*/
    background-repeat: repeat;
    z-index: 10;
    position: relative;
}
#what-is-content {
    margin: 0 auto;
    width: 1150px;
}
#what-is-title{
    margin: 0 auto;
    padding-top: 20px;
    font-family: 'Droid Sans', sans-serif;
    color: #d4df4c;
    font-size: 25px;
    text-align: center;
}
#what-is-cta{
    background-color: #d4df4c;
    height: 100%;
    width: 350px;
    margin-top: 0px;
    margin-left: 50px;
    font-family: 'Droid Sans', sans-serif;
    color: #222222;
    font-size: 18px;
    text-align: left;
    font-weight: normal;
    padding-left: 20px;
    padding-right: 20px;
    float: left;
    margin-top: 110px;
}
#what-is-cta h3{
    font-size: 24px;
}
#what-is-2row{
    margin: 0 auto;
    width: 830px;
}
#hackweek-logos{
    width: 350px;
    font-family: 'Droid Sans', sans-serif;
    color: #7ac142;
    font-size: 20px;
    text-align: left;
    font-weight: normal;
    padding-left: 20px;
    padding-right: 20px;
    float: left;
    margin-top: 110px;
}
#people{
    background-color: #000;
    background: url('../images/projects-thumbs.jpg');
    background-size: 100% auto;
    background-repeat: no-repeat;
    z-index: 20;
    position: relative;
}
.project-instructions{
    background-color: #000000;
    position: absolute;
    width: 320px;
    height: 160px;
    left: 50%;
    margin-left: -160px;
    top: 50%;
    margin-top: -80px;
    text-align: center;
}
.text-project-box {
   color: #d4df4c;
   font-size: 30px;
   padding-top: 10px;
}
.cut-text {
    color: #373731;
    font-style: italic;
}
#project-info{
    color: #FFF;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 7px;
    font-size: 13px;
    padding-top: 10px;
}
#agenda{
    background-color: #d4df4c;
    z-index: 30;
    position: relative;
}
#monday{
    margin-left: 190px;
}
#monday-content{
    height: 100%;
    background: #00843e;
    width: 400px;
    margin-left: 470px;
}
#tuesday{
    margin-left: 900px;
}
#wednesday{
    margin-left: 1170px;
}
#thursday{
    margin-left: 1440px;
}
#friday{
    margin-left: 1685px;
}
.agenda-details{
    color: #FFF;
    position: absolute;
    font-family: 'Droid Sans', sans-serif;
    text-align: left;
    padding: 20px;
}
.agenda-details h1 {
    margin-top: 0;
}
.agenda-item{
    top: 50%;
    position: absolute;
    font-family: 'Droid Sans', sans-serif;
    text-align: center;
    margin-top: -150px;
}
.day-name{
    font-size: 36px;
}
.day-number{
    font-size: 230px;
    margin-top: -35px;
 }
#agenda-year{
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 15px;
    color: #000;
}
#agenda-offices{
    position: absolute;
    top: 20px;
    right: 20px;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 15px;
    color: #FFF;
}
#agenda-offices span{
    display: inline-block;
    background: #000;
    padding: 3px;
}
#agenda-offices .current{
    background: #00843E;
}
#projects{
    background: rgb(215, 215, 215);
    background: -o-radial-gradient(rgb(240, 240, 240), rgb(220, 220, 220));
    background: -moz-radial-gradient(rgb(240, 240, 240), rgb(220, 220, 220));
    background: -webkit-radial-gradient(rgb(240, 240, 240), rgb(220, 220, 220));
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 500, from(rgb(240, 240, 240)), to(rgb(220, 220, 220)));
    z-index: 40;
    position: relative;
}
#projects-title{
    margin: 0 auto;
	padding-top: 20px;
    font-family: 'Droid Sans', sans-serif;
	color: #201f1f;
	font-size: 25px;
    text-align: center;
}
#projects-call-to-action{
    position: absolute;
	background-color: #9cdaf0;
	height: 25%;
	width: 350px;
	bottom: 0;
	left: 50%;
	margin-left: -175px;
    font-family: 'Droid Sans', sans-serif;
	color: #201f1f;
	font-size: 30px;
    text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	padding-top: 20px;
	display: none;
}
#projects-unlock{
    text-align: center;
    left: 50%;
    top: 50%;
    position: absolute;
    margin: -300px auto 0 -505px;
}
#where{
    background-color: #FFF;
    background: url('../images/map.svg');
    background-size: 70% auto;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 50;
    position: relative;
}
#where-title{
    position: absolute;
    margin-top: 47px;
    max-width: 960px;
    right: -40px;
    text-align: right;
}
.claim-where{
    margin: 5px;
    font-size: 35px;
    text-transform: uppercase;
    font-weight: bold;
    background: #00a54f;
    display: inline-block;
    color: #FFF;
    padding: 4px 40px 4px 15px;
    transform:rotate(-10deg);
    -ms-transform:rotate(-10deg); /* IE 9 */
    -moz-transform:rotate(-10deg); /* Firefox */
    -webkit-transform:rotate(-10deg); /* Safari and Chrome */
    -o-transform:rotate(-10deg); /* Opera */

}
#map-info{
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 7px;
    font-size: 13px;
}

#terminal-btn{
    font-family: 'Cutive Mono', sans-serif;
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 13px;
    font-weight: 100;
    text-transform: uppercase;
    cursor: pointer;
    z-index: 100;
    display: none;
}
.terminal-dot{
    float: right;
    height: 10px;
    margin-left: 3px;
    margin-top: 2px;
    width: 4px;
    background-color: #000;
}