@import url(http://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,700italic,900,900italic|Droid+Sans:400,700);
html {
    margin: 0px;
    width: 100%;
    height: 100%;
}
body {
    margin: 0px;
    background-color: #FFF;
    font-family: 'Roboto', Droid Sans, sans-serif;
}

li {
    list-style: none;
}

#content {
    margin: 0 auto;
    width: 100%;
    height: 100%;
}
#navigation{
    margin-left: 20px;
    margin-top: 20px;
    text-align: left;
    position: absolute;
    z-index: 100;
}
#what-is{
    background: url('../images/start-background.jpg');
    background-size: 100% auto;
    background-repeat: no-repeat;
}
.page-size {
    width: 100%;
    height: 100%;
}