/* Basic Terminal CSS */
.wterm_terminal {  background: #000; color: #fff; font-size: 1em; font-family: monospace; padding: 10px 10px 0px; display: block; overflow-x: none; overflow-y: auto; margin-left: auto; margin-right: auto; }

/* TODO: Input Box Width is faulty */
.wterm_terminal input { background: transparent; border: 0; color: #fff; width: 100%; font-size: 1em; font-family: monospace; outline: none;   }
.wterm_terminal div:first { margin-bottom: 1em; }
.wterm_terminal .wterm_prompt { float: left; clear: left;  }
.wterm_terminal  form { float: left; margin: 0px; width: 75%; }

/* Themes */
.wterm_theme_green_on_black { background: #000; background-image: url('../images/term-bg.png'); background-repeat: no-repeat; background-position: center; color: #00a54f; }
.wterm_theme_green_on_black input { background: transparent; border: 0; color: #0f0; }

#terminal{
    display: none;
    z-index: 9999;
    position: fixed;
    width: 100%;
    height: 50%;
}