/* Basic Terminal CSS */
.wterm_terminal {  
  background: #000; 
  color: #fff; 
  font-size: 1em; 
  font-family: monospace; 
  padding: 10px 10px 0px; 
  display: block; 
  overflow-x: none; 
  overflow-y: auto; 
  margin-left: auto; 
  margin-right: auto; 
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7);}

/* TODO: Input Box Width is faulty */
.wterm_terminal input { 
  background: transparent; 
  border: 0; 
  color: #fff; 
  width: 100%; 
  font-size: 1em; 
  font-family: monospace; 
  outline: none;   
}
.wterm_terminal div:first { margin-bottom: 1em; }
.wterm_terminal .wterm_prompt { float: left; clear: left;  }
.wterm_terminal  form { float: left; margin: 0px; width: 75%; }

/* Themes */
.wterm_theme_green_on_black { 
  background: rgba(0,0,0,0.90); 
  background-image: url('../images/term-bg.png'); 
  background-repeat: no-repeat; 
  background-position: center; 
  color: #00a54f; 
  border: 0px 1px 1px 1px solid #000; 
}
.wterm_theme_green_on_black input { 
  background: transparent; 
  border: 0; 
  color: #0f0; 
}

#terminal{
    display: none;
    z-index: 9999;
    position: fixed;
    width: 100%;
}

#terminal-bottom-bar { 
  padding: 0px 10px; 
  height:26px; 
  width: 80%; 
  background: #4b4a4a; 
  display: block; 
  overflow-x: none; 
  overflow-y: auto; 
  margin-left: auto; 
  margin-right: auto;
  border-top: 1px solid #3d3c3c;
  border-bottom: 1px solid #212121; 
  border-radius: 0px 0px 4px 4px;  
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7);
  overflow: visible; 
}
#terminal-bottom-tabbar {
  padding: 0px 10px; 
  height: 3px;
  width: 80%; 
  background: #454444; 
  display: block; 
  overflow-x: none; 
  overflow-y: auto; 
  margin-left: auto; 
  margin-right: auto;  
  border-bottom: 1px solid #212121;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7);
}

#terminal-bottom-bar-tab {
  width: 20%;
  height: 21px;
  position: relative;
  top: -3px;
  background-color: #454444;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.1, #454444), color-start(1, #616060)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #454444 10%, #616060 100%); /* Chrome10+,Safari5.1+ */
  background: -ms-linear-gradient(top, #454444, #616060); /* IE10+ */
  background: -moz-linear-gradient(center top, #454444 10%, #616060 100%); /* FF3.6+ */
  filter: ~"progid:DXImageTransform.Microsoft.gradient( startColorstr='#454444', endColorstr='#616060', GradientType=0 )"; /* IE6-9 */
  background: -o-linear-gradient(top, #454444 10%, #616060 100%); /* Opera 11.10+ */
  background: linear-gradient(top, #454444 10%, #616060 100%); /* W3C */
  color: #ebebeb;
  padding-top: 4px;
  border-bottom: 1px solid #212121;
  border-left: 1px solid #454444; 
  border-right: 1px solid #454444;
  border-radius: 0px 0px 4px 4px;
  text-align: center;
  font-size: 11px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
}

#terminal-bottom-bar-tab-icon {
  float: left;
  width: 22px;
  height: 16px;
  background-image: url('../images/utilities-terminal.png'); 
  background-repeat: no-repeat; 
  background-position: 6px 1px;
}

#terminal-bottom-bar-tab-close {
  float: right;
  width: 22px;
  height: 16px;
  background-image: url('../images/utilities-terminal.png'); 
  background-repeat: no-repeat; 
  background-position: -6px 1px;
}
