.btn-group.pull-right
  - if can? :edit, announcement 
    = link_to(edit_announcement_path(announcement), :title=>'Edit this announcement?', :class=> "btn btn-default btn-xs") do
      %i.fa.fa-pencil
  -if can? :destroy, announcement
    = link_to(announcement_path(announcement), :title=>'Delete this announcement?', :class=> "btn btn-default btn-xs", :method => :delete, data: { confirm: "Are you sure you want to delete this announcement for all users? This can't be undone!" }) do
      %i.fa.fa-times
