- content_for :title do
  Create Announcement

.row
  .col-sm-12
    %h2 Create an Announcement
    %p.help-block
      This will post a new announcement to the header and replace all previous unread announcements.
    = render 'form'
