services:
  db:
    image: registry.opensuse.org/opensuse/mariadb:latest
    environment:
      - MYSQL_ROOT_PASSWORD=root
  hackweek:
    build:
      dockerfile: Dockerfile
      context: .
    command: foreman start -p 3000
    volumes:
      - .:/hackweek:z
    ports:
      - "3000:3000"
    environment:
      - CONTAINER=1
    depends_on:
      - db
