#help{:class=>"collapse"}
  %pre
    :preserve
      # A First Level Header
      ## A Second Level Header

      Use one asterisk to *emphasize*

      Use two asterisks for **strong emphasis**

      * Use asterisks
      * for lists

      This is an [example link](http://example.com/)

      This is an ![example image](http://paste.opensuse.org/view/raw/68957446)

      This is a user link @hans

      This is a project link hw#some-cool-title

  %p.text-right{:style=>"margin-bottom: 10px;"}
    = link_to "More Complex Markdown Help", "http://daringfireball.net/projects/markdown/syntax", target: "_blank"
%p.text-right
  %a{:type=>"button", "data-toggle"=>"collapse", "data-target"=>"#help", :class=>"btn btn-default btn-xs"}
    %i.fa.fa-question
    Help
