#help{:class=>"collapse"}
  %pre
    :preserve
      # A First Level Header
      ## A Second Level Header

      Use one asterisk to *emphasize*

      Use two asterisks for **strong emphasis**

      - Use hyphens
      - for unordereed
      - lists

      This is an [link to example.com](http://example.com/)

      This is an image ![an openSUSE geeko icon](https://en.opensuse.org/images/d/d0/Icon-distribution.png)

      This is a user link @hans

      This is a project link hw#some-cool-title

  %p.text-right{:style=>"margin-bottom: 10px;"}
    = link_to "More Complex Markdown Help", "http://daringfireball.net/projects/markdown/syntax", target: "_blank"
%p.text-right
  %a{:type=>"button", "data-toggle"=>"collapse", "data-target"=>"#help", :class=>"btn btn-default btn-xs"}
    %i.fas.fa-question
    Formatting Help
