.row
  .col-sm-12
    %h2 Add a comment
    - if @comment.errors.any?
      #error_explanation
        %h3
          = pluralize(@comment.errors.count, "error")
          prohibited this project from being saved:
        %ul
        - @comment.errors.full_messages.each do |msg|
          %li
            = msg
    = render partial: 'comments/form', locals: { comment: @comment, parent: @parent }
