.row
  .span4
    = image_tag @user.gravatar_url
    %h2
      = @user.name
  .span8
    %h3 Works on these projects
    = render :partial => "projects/list", :locals => {:projects => @user.projects }
    %h3 Originated these ideas
    = render :partial => "projects/list", :locals => {:projects => @user.originated_projects }


