%a.btn.btn-default{onclick: "$('textarea').eq(0).val($('textarea').eq(0).val() + ' @').click();"}
  %i.fa.fa-at
%a.btn.btn-default{onclick: "$('textarea').eq(0).val($('textarea').eq(0).val() + ' :').click();"}
  %i.fa.fa-smile-o
%a.btn.btn-default{onclick: "$('textarea').eq(0).val($('textarea').eq(0).val() + ' [text](link-here)').click();"}
  %i.fa.fa-link
%a.btn.btn-default{onclick: "textcover($('textarea')[0], '_')"}
  %i.fa.fa-italic
%a.btn.btn-default{onclick: "textcover($('textarea')[0], '**')"}
  %i.fa.fa-bold
