<h1>Hack Week Home</h1>
<p>Welcome to the Hack Week web site.</p>
<p><%= link_to "Projects", :controller => "projects" %></p>
<p><em>Logged in as <%= @current_user.name %> (<%= @current_user.email %>)</em></p>
