- @project.users.each do |user|
  = link_to(user_path(user)) do
    = image_tag user.gravatar_url(:size => "64"), alt: user.name, title: user.name, class: "img-thumbnail", id: "user#{user.id}-gravatar"
