- if project.kudos.include? current_user
  = link_to(dislike_project_path(project.id), :method => :post, :title=>'Dislike this project?', :class=> "btn btn-default btn-xs") do
    %i.icon-heart
- else
  =link_to(like_project_path(project.id), :method => :post,:title=>'Like this project', :class=> "btn btn-default btn-xs") do
    %i.icon-heart-empty
