-if projects
  - projects.each_with_index do |project, index|
    %div{class: "#{project.aasm_state}", style: "border-bottom: 1px solid #ddd; padding: 10px 0 10px 0;"}
      = render :partial => "projects/list_item", :locals => {:project => project, :index => index }
