.col-sm-12
  = render :partial => "projects/tabs"
  .tab-content{:style => "padding-top: 10px;"}
    - if @projects.length > 0
      .tab-pane.active
        .row{:style=> "padding-bottom: 10px;"}
          .col-sm-6
            #table_search
          .col-sm-6
            %ul.nav.nav-pills.pull-right
              %li.active#all-pill
                %a{:href =>"#", :id=>"all", :title=> "All Projects"}
                  All
              %li#ideas-pill
                %a{:href =>"#", :id=>"ideas", :title => "Projects nobody is working on"}
                  Idle
              %li#projects-pill
                %a{:href =>"#", :id=>"projects", :title => "Projects people are working on"}
                  Active
        .row
          .col-sm-12
            %table.table#project_table
              - @projects.each do |project|
                %tr
                  %td{:class => "#{project.aasm_state}"}
                    = render :partial => "projects/list_item", :locals => {:project => project }
    - else
      .row
        .col-sm-11.project
          %h3
            No projects. How about you
            = link_to "add one!", new_project_path

:javascript
  $( "#ideas" ).click(function() {
    console.log ("show only ideas");
    $( ".project" ).hide();
    $( ".idea" ).show();
    $( "#ideas-pill").addClass( "active" );
    $( "#all-pill, #projects-pill").removeClass( "active" );
  });

  $( "#projects" ).click(function() {
    console.log ("show only projects");
    $( ".idea" ).hide();
    $( ".project" ).show();
    $( "#projects-pill").addClass( "active" );
    $( "#all-pill, #ideas-pill").removeClass( "active" );
  });

  $( "#all" ).click(function() {
    console.log ("show everything");
    $( ".idea" ).show();
    $( ".project" ).show();
    $( "#all-pill").addClass( "active" );
    $( "#projects-pill, #ideas-pill").removeClass( "active" );
  });

  $("table").addTableFilter({
  });