- content_for :title do
  Create Project

.row
  .col-sm-12.project
    %h2
      Create a project
    %p
      Please use the description to give an overview about the state of your project.
      %ul
        %li
          What are your goals to be achieved at the end of this Hack Week?
        %li
          What kind collaboration are you looking for, which skills are needed?
        %li
          Link to sources, documentation or your detailed project plan.
      You can edit this at any time later and provide updates
    = render 'form'
