# Add application configuration variables here, as shown below.
# Be sure to restart your server when you modify this file.

# Make sure your secrets are at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.
SECRET_KEY_BASE: '12345'

# Devise (https://github.com/heartcombo/devise) configuration
HACKWEEK_DEVISE_SECRET_KEY: '12345'

# Sentry (https://github.com/getsentry/sentry-ruby/) configuration
HACKWEEK_SENTRY_DSN: '12345'
