default: &default
  adapter: mysql2
  encoding: utf8
  username: root
  password: root
  host: <%= ENV.fetch("HACKWEEK_DB_HOST", nil) %>
  pool: <%= ENV.fetch("RAILS_MAX_THREADS", 5) %>
  timeout: 5000

development:
  <<: *default
  database: hackweek_development

test:
  <<: *default
  database: hackweek_test

production:
  <<: *default
  database: hackweek_production
