<%
  if ENV['CONTAINER']
    host = 'db'
  end
%>

default: &default
  adapter: mysql2
  encoding: utf8mb4
  collation: utf8mb4_unicode_ci
  username: root
  password: root
  host: <%= host %>
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  timeout: 5000

development:
  <<: *default
  database: hackweek_development

test:
  <<: *default
  database: hackweek_test

production:
  <<: *default
  database: hackweek_production
