# We only use environment variables for configuration. You should too!
# Why? Read http://12factor.net/config 

defaults: &defaults
  secret_key_base: '12345'
  devise_secret_key: '12345'

development:
  <<: *defaults

test:
  <<: *defaults

production:
  secret_key_base: <%= ENV["HACKWEEK_SECRET_KEY_BASE"] %>
  devise_secret_key: <%= ENV["HACKWEEK_DEVISE_SECRET_KEY"] %>
  errbit_api_key: <%= ENV["HACKWEEK_ERRBIT_KEY"] %>
