defaults: &defaults
  min_infix_len: 3
  mysql41: 9312
  pid_file: sphinx/pids/searchd.pid
  indices_location: sphinx/db
  binlog_path: sphinx/binlog

development:
  <<: *defaults
test:
  <<: *defaults
  mysql41: 9313
production:
  <<: *defaults
  morphology:
    - lemmatize_en_all
