- content_for :title do
  Gallery

.row
  .col-md-12
    .embed-responsive.embed-responsive-16by9
      %object
        %param{name: "flashvars", value: "offsite=true&lang=en-us&page_show_url=%2Fgroups%2Fhackweek%2Fpool%2Fshow%2F&page_show_back_url=%2Fgroups%2Fhackweek%2Fpool%2F&group_id=366038@N24&jump_to=&start_index="}
        %param{name: "movie", value: "https://www.flickr.com/apps/slideshow/show.swf?v=261948265"}
        %param{name: "allowFullScreen", value: "true"}
        %embed{type: "application/x-shockwave-flash",
               src: "https://www.flickr.com/apps/slideshow/show.swf?v=261948265",
               allowFullScreen: "true",
               flashvars: "offsite=true&lang=en-us&page_show_url=%2Fgroups%2Fhackweek%2Fpool%2Fshow%2F&page_show_back_url=%2Fgroups%2Fhackweek%2Fpool%2F&group_id=366038@N24&jump_to=&start_index=" }
