- content_for :title do
  Gallery

.row
  .col-md-12
    .embed-responsive.embed-responsive-16by9
      %a{"data-flickr-embed"=>"true", "data-context"=>"true", href: "https://www.flickr.com/photos/104068895@N07/28144578805/in/pool-hackweek/", title: "P1010240"}
        %img{src: "https://c1.staticflickr.com/8/7434/28144578805_03accc52c5_b.jpg", width: "100%", height: "768"}
      %script{async: true, src: "//embedr.flickr.com/assets/client-code.js", charset: "utf-8"}
