= form_tag :action => "add_keyword", :id => what.id do |f|
  .input-group
    = text_field_tag :new_keyword, nil, class: "form-control", id: "keywords", placeholder: "Keyword"
    = button_tag(type: 'submit', class: "btn btn-default pull-right") do
      = content_tag(:strong, 'Save Keywords')
:javascript
$(document).ready(function() {
  $('#keywords').selectize({
      delimiter: ',',
      persist: false,
      create: function(input) {
          return {
              value: input,
              text: input
          }
      }
  });
});