
.content-box {
    padding: 15px;
    box-sizing: border-box;
}

#flash {
  margin-top: 10px;
  background: transparent
}

#announcement {
    margin-top: 20px;
    background-color: $light-blue-transparent;
    border-color: $light-blue;
}