
.content-box {
    padding: 15px;
    box-sizing: border-box;
}

#flash {
  margin-top: 10px;
  h3 {
    color: black;
  }
}

#announcement {
    margin-top: 20px;
    background-color: none;
    border-color: #bce8f1;
    color: #31708f;
}