@import url(http://fonts.googleapis.com/css?family=Patrick+Hand+SC);

body {
  background-color:#269;
  background-image: linear-gradient(white 2px, transparent 2px),
  linear-gradient(90deg, white 2px, transparent 2px),
  linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px),
  linear-gradient(90deg, rgba(255,255,255,.3) 1px, transparent 1px);
  background-size:100px 100px, 100px 100px, 20px 20px, 20px 20px;
  background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px;
  padding-top: 0px;
}

@media screen and (min-width: 980px) {
  body { padding-top: 100px; }
}

#coffee {
  position: relative;
  bottom: 70px;
  right: 33%%;
  overflow: hidden;
}

#pencil {
  position: absolute;
  top: 100px;
  right: 0px;
  overflow: hidden;
  display: none;
}

@media (min-width: 1460px) {
  #pencil {
    display: block;
  }
}

.scratch {
  z-index:1;
  display:block;
  background-color:rgba(255,255,255,0.4);
  width:45%;
  height:33px;
  margin:-52px 0 0 28%;
  float:left;
  transform: rotate(-2deg);
  -ms-transform: rotate(-2deg); /* IE 9 */
  -webkit-transform: rotate(-2deg); /* Safari and Chrome */
  -o-transform: rotate(-2deg); /* Opera */
  -moz-transform: rotate(-2deg); /* Firefox */
  box-shadow: 1px 2px 2px -1px rgba(0, 0, 0, 0.1);
}

.paper {
  background-color: #fff; 
  background-image: 
  linear-gradient(90deg, transparent 30px, #abced4 30px, #abced4 34px, transparent 34px);
  background-size: 100% 1.2em;
  color: #494949;
  padding: 40px 0 40px 40px;
  margin: 0 0 100px 0;
}

.paper .project h2 {
  font-family: 'Patrick Hand SC', cursive;
  line-height: 1em;
}

.paper .project hr {
  padding: 0 0 -10px 0;
}

textarea {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	width: 100%;
}
