/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 250px;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1IiBoZWlnaHQ9IjUiPgo8cmVjdCB3aWR0aD0iNSIgaGVpZ2h0PSI1IiBmaWxsPSIjZmZmIj48L3JlY3Q+CjxyZWN0IHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9IiNjY2MiPjwvcmVjdD4KPC9zdmc+");
}

#content {
  margin: 80px 0 60px;
  padding: 20px 15px 20px;
  background: rgb(246, 246, 246); /* The Fallback */
  background-color:rgba(246,246,246,0.7);
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 250px;
  background-color: #f5f5f5;
  border-top: 1px solid #E5E5E5;
  margin-top: 60px;
}

.keyword {
  margin-top: 4px;
  margin-bottom: 4px;
}

.project-list-pills {
  position: relative;
  z-index: 1;
}

.project-list-item:before {
    display:block;
    position: relative;
    content:"";
    height:70px;
    margin:-70px 0 0;
    z-index: -1;
}

#loading-spinner {
  text-align: center;
  vertical-align: bottom;
}