html, body {
  height: 100%;
}

.wrap{
  min-height: 100%;
  padding-top: 58px;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1IiBoZWlnaHQ9IjUiPgo8cmVjdCB3aWR0aD0iNSIgaGVpZ2h0PSI1IiBmaWxsPSIjZmZmIj48L3JlY3Q+CjxyZWN0IHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9IiNjY2MiPjwvcmVjdD4KPC9zdmc+");
}

.content {
  overflow:auto;
  padding-bottom: 270px; /* this needs to be bigger than footer height*/
  background: rgb(246, 246, 246); /* The Fallback */
  background-color:rgba(246,246,246,0.7);
}

footer {
  position: relative;
  margin-top: -250px; /* negative value of footer height */
  height: 250px;
  clear:both;
  padding-top:20px;
  padding-bottom: 50px;
  background-color: #F8F8F8;
  border-top: 1px solid #E5E5E5;
}

.keyword {
  margin-top: 4px;
}

.project-list-pills {
  position: relative; 
  z-index: 1;
}

.project-list-item:before {
    display:block; 
    position: relative; 
    content:""; 
    height:70px; 
    margin:-70px 0 0; 
    z-index: -1;
}
