/* Starwars Hackweek */
@import url(http://fonts.googleapis.com/css?family=Raleway:400,200,700);

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
body {
  color: #fff;
  background: #000;
  position: relative;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  margin: 0
}

.wrap {
  width: 100%;
  height: 100%;
  z-index: 6000;
  position: absolute;
  overflow: hidden;
}
.mainScreen {
  display: none;
  margin-right: auto;
  margin-left: auto;
}
.menuGPS {
  background: image-url("GPS-orbits.png") no-repeat center;
  background-size: 520px 520px;
  width: 520px;
  height: 520px;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}
.asteroid1 {
  z-index: 100;
  position: absolute;
  display: none
}

.circle, .circle2, .circle3, .circle4 {
  width:120px;
  height:120px;
  z-index: 500;
  // background: image-url("hologram_planet.png");
  border-radius:50%;
  position:absolute;
  top:0; bottom:0; left:0;right:0;
  overflow:hidden;
  margin:auto;
}
.circle {
  //-webkit-animation: circleA 120s linear infinite;
  animation: circleA 120s linear infinite;
}
.circle2 {
  //-webkit-animation: circleB 120s linear infinite;
  animation: circleB 120s linear infinite;
}
.circle3 {
  //-webkit-animation: circleC 120s linear infinite;
  animation: circleC 120s linear infinite;
}
.circle4 {
  //-webkit-animation: circleD 120s linear infinite;
  animation: circleD 120s linear infinite;
}

@import 'animations';




