.projects-index-header {
  margin-bottom: 50px;
  .nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
      border: 1px solid transparent;
      background-color: rgba(24, 154, 153, 0.08);
      border-color: #00fffc;
      color: #00fffc;
      font-weight: normal;
  }
  .nav > li > a:hover, .nav > li > a:focus {
    background-color: rgba(24, 154, 153, 0.08);
    text-decoration: none;
  }
}

.project {
  margin: 0 20px 50px 0;
  .img-wrapper {
    margin: 0 auto;
  }
}

