// screen orientation
#screenLock {
  background: image-url("screen-lock/bg.jpg");
  background-size: cover;
  width: 100%;
  height: 100%;
  z-index: 9999;
  position: relative;
  display: table;
  top: 0;
  left: 0;
  text-align: center;
  .screenLockAligned {
    padding: 5%;
    display: table-cell;
    vertical-align: middle;
    .devices {
      width: 80%;
      max-width: 495px;
    }
    .lockMessage {
      width: 80%;
      max-width: 495px;
      margin-right: auto;
      margin-left: auto;
      margin-top: 2em;
      background: rgba(0, 0, 0, 0.2);
      border-top: 1px solid #000;
      border-bottom: 1px solid #000;
      padding: 1em 2em;
      box-sizing: border-box;
      display: inline-block;
      img {
        margin-right: 2em;
        float: left;
      }
      h5 {
        text-align: left;
        margin-top: 0.7em
      }
    }
  }
  .copyright {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 0.8em
  }
}


@media (max-width: 500px) {
  #screenLock .screenLockAligned .lockMessage {
    padding: 1em 1em;
    img {
      width: 50px;
      margin-right: 1em;
    }
    h5 {
      margin-top: 0;
      font-size: 0.9em
    }
  }
}
