// variables
$light-blue: #00fffc;
$light-blue-transparent: rgba(24,154,153,0.08);
$orange: #ffc55c;
$white: #F6F6F6;
$black: #000;
$gray: #666;

$distance-menu: 12px;

$menuWidth: 218px;

$main-text-colour: $white;
$website-background: $black;

// also mixings go here
@mixin orange-text {
  color: $orange;
  //glow effect
  text-shadow: 0px 0px 5px #eb5c1d;
  @include raleway;
}

@mixin orange-text-hover {
  color: darken ($orange, 10);
  //glow effect
  text-shadow: 0px 0px 5px #eb5c1d;
  @include raleway;
}

@mixin raleway {
  font-family: 'Raleway', sans-serif;
  font-weight: 200
}

.orange-text {
	@include orange-text;
}

@mixin dotted-top-border {
	border-top: 1px dotted $light-blue;
}
@mixin dotted-border {
  border: 1px dotted $light-blue;
}

