.row
  .col-md-12
    %h1
      Awards
      %small for the best
    %p.lead
      The Hack Week awards recognize the greatest, most promising, or craziest
      projects and ideas of Hack Week. We* will give awards in the following categories:
    %p
      %ul
        %li Best overall project
        %li Best team effort
        %li Best openSUSE project
        %li Best SUSE Linux Enterprise project
        %li Most glorious failure
        %li Best non-software project
      %small
        *The jury deciding about the awards is formed by the SUSE distinguished engineers.
        To be eligible for the awards please make sure that your project is
        = link_to "listed in this app", projects_path(@episode)
        and that it contains all the information and pointers to collaborators, code
        and other material, the jury will need to judge it.
