.landingpage
  = image_tag "landingpage/hw-interstellar-logo.png"
  .create-new
    = link_to 'Create New', new_project_path
  %h4
    Submit your project before the 15th of October to get your wristband
  %h4.labeled
    No wristband, no hackweek!