.text-left
  %h2
    Hack Week HOWTO
    %small How to hack a week? A starter guide.
  %p.lead
    Hack Week is the opportunity for you as an SUSE engineer to work on projects of
    your passion. You choose if you contribute to an existing open source project or
    try something new, nobody has done before. <em>Innovate, collaborate, and learn!</em>
  %hr
  %h3 Collaborate
  %p
    = link_to "Record your ideas", new_project_path
    about what people could hack on in this tool. <em>Join</em> the idea if you want
    to hack on it. 
  %p
    We encourage you to find like-minded developers and team up to multiply your hacking power.
    Take the opportunity to work with people from other teams in the company or from the
    community. Get together at an office, make use of all the nice things the
    Internet provides us to collaborate remotely. Don't hesitate to ask others, and
    be open when being asked. If you need any support to enable and improve
    collaboration feel free to contact the Hack Week coordination team.
  %hr
  %h3 Spread the code
  %p
    We are an open company, and work transparently on open source code. Share
    your code on the platform of your choice, and reference it from your project.
  %hr
  %h3 Spread the word
  %p
    Let your colleagues, the community, and the rest of world know about what
    you are doing. Blog, tweet, publish videos, shout to your neighbour on the
    other side of the street. So people can pick up your project, use it, give
    feedback, contribute, or join.
  %hr
  %h3  Be open-minded, supportive, and respectful
  %p
    Hack Week is a happy and constructive place. Support ideas you like, ignore
    ideas you don't like. Help to improve ideas of others, and accept help to
    improve your own. We encourage discourse and open discussion, but make sure that
    you approach it with and open mind, respect, and the desire to support. And
    don't forget to 
  %h3 have a lot of fun ...
