name: Specs

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  workflow_dispatch:

jobs:
  spec:
    runs-on: ubuntu-latest
    name: spec
    steps:
      - uses: actions/checkout@v2
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.1
          bundler-cache: true
      - name: Prepare spec
        run: |
          sudo systemctl start mysql.service
          wget -nv http://sphinxsearch.com/files/dicts/en.pak
          RAILS_ENV=test bundle exec rake dev:bootstrap --trace
      - name: Run tests
        run: bundle exec rspec --color --format documentation
