%li{role: "separator", class: "divider"}
%li{role: "presentation", class: "dropdown-header"}
  Admin
%li
  = link_to(announcements_path, :id=>"announcements_path") do
    %i.fa.fa-bullhorn
    Announcements
%li
  = link_to(episodes_path, :id => "episodes_path") do
    %i.fa.fa-calendar
    Hackweeks
